
    body {
        background-color:  #ffff99;
        margin:50px;
    }
     
    h1 {
      color:#ff6600;
      border: 2px solid;
      padding: 20px;
      font-weight: 900;
      font-family: Helvetica;
    }
     
     
    h2 {
        margin: 20px 0px;
        padding: 30px 5px 10px 5px; 
        color:#ffff99;
        background-color: #ff6600;
        font:20xp "Courier New";
        
    }
     
    ol {
        font-family: "Impact" "Courier New";
        padding:20px;
        background-color:  #ffcc00;
         color:  #ffff99
    }
     
    li {
     margin: 15px;
        margin-left:25px;
    }
     
    p {
        margin: 30px 0px;
        border:2px dotted  #ffcc00;
        padding:10px;
    }
